<%= form_for(@user, :url => '/profile') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :gender, '性別' %>
        <%= f.select :gender, %w(非公開 男性 女性) %>
    </div>
    <div class="field">
        <%= f.label :age, '年齢' %>
        <%= f.select :age, %w(非公開 10代 20代 30代 40代 50代 60代) %>
    </div>
    <div class="field">
        <%= f.label :job, '職業' %>
        <%= f.select :job, %w(非公開 会社員 自営業 公務員 フリーター 学生 無職 その他)  %>
    </div>
    <div class="action">
      <%= f.submit '保存', :id => 'commit' %>
    </div>
<% end %>
