<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, %w(非公開 男 女) %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.select :age, %w(非公開 10代 20代 30代 40代 50代 60代) %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.select :job, %w(非公開 学生 会社員 フリーター 無職) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
