<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @today.nil? %>
    <div><b>today's theme is not found...</b></div>
  <% elsif @already_post.nil? %>
    <div class="field">
      <%= f.hidden_field :theme_id, :value => @today.id %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.text_area :body, :size => '60x4' %>
    </div>
    <div class="action">
      <span id="num">140</span>
      <%= f.submit 'かわざん！', :id => 'post' %>
    </div>
  <% else %>
    <div id="already_post">
      <p class="body">回答: <b>"<%= @already_post.body %>"</p>
      <p class="notice">入力済みです！</p>
    </div>
  <% end %>
<% end %>
