<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
<title>Iemon</title>
</head>
<body>
<div id="head">
    <div id="logo"><img src="images/logo.png" width="36" height="34" alt="メニュー"></div>
    <div id="menu">
        <ul>
          <% {
            'トップ' => '/',
            '今日のお題'  => '/posts/new',
            '過去の皮算用'  => '/posts',
            '過去のお題'  => '/themes',
            'ユーザー設定'  => '/profile',
            'おやすみたぬきについて' => '/about'
            }.each do |name, path| %>
            <li><%= link_to name, path %>
          <% end %>
          <li>
          <% if current_user %>
            <%= link_to "#{current_user.name} : Logout" , logout_path %>
          <% else %>
            <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
          <% end %>
        </ul>
    </div>
</div>
<!-- start: content area -->
<%= yield %>
<!-- end: content area -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
