<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<title>おやすみたぬき</title>
</head>
<body>
<div id="head">
    <div id="logo"><%= image_tag 'logo.png', :size => '36x34', :alt => 'メニュー' %></div>
    <div id="menu">
        <ul>
          <% {
            'トップ' => '/',
            '今日のお題'  => '/posts/new',
            '過去の皮算用'  => '/posts',
            '過去のお題'  => '/themes',
            'ユーザー設定'  => '/profile',
            'おやすみたぬきについて' => '/about'
            }.each do |name, path| %>
            <li><%= link_to name, path %>
          <% end %>
          <li>
          <% if current_user %>
            <%= link_to "#{current_user.name} : Logout" , logout_path %>
          <% else %>
            <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
          <% end %>
          <% if admin_user? %>
            <li><%= link_to '[admin]お題編集', '/themes/edit_active' %></li>
          <% end %>
        </ul>
    </div>
</div>
<!-- start: content area -->
<%= yield %>
<!-- end: content area -->
<%= javascript_include_tag "application" %>
</body>
</html>
